  <footer>
    <div>
      <a href="/">
        <p class="capsLock extraBold Logo">Platform<br> Buurtinitiatieven.</p>
      </a>
    </div>
    <div>
      <h3 class="capsLock">Openingstijden</h3>
      <div> 
        <p>Maandag t/m Zondag</p>
        <p>07:00-01:00</p>
      </div>
    </div>

    <div>
      <h3 class="capsLock">Adres</h3>
      <div>
        <a href="https://www.google.com/maps/place/De+Hallen+Amsterdam/@52.3668448,4.8687693,17z/data=!3m1!4b1!4m6!3m5!1s0x47c609e01d4b189b:0xf3bfaa521febef29!8m2!3d52.3668448!4d4.8687693!16s%2Fg%2F1q64qtc5z?entry=ttu">
          Hannie Dankbaarpassage 47 <br>
          1053 RT, Amsterdam <br>
          Nederland
        </a>
      </div>
    </div>

    <div>
      <h3 class="capsLock">Volg ons</h3>
      <div> 
        <a href="https://www.facebook.com/HallenAmsterdam/">
          <i class='bx bxl-facebook-square'></i>
        </a>
        <a href="https://www.instagram.com/dehallen.amsterdam/">
          <i class='bx bxl-instagram'></i>
        </a>
      </div>
    </div>
  </footer>

</body>

</html>