<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Link to Javascript -->
    <script src="/scripts/script.js" defer></script>

    <!-- Link to Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to my Website Icon -->
    <link rel="icon" href="/images/">
    
    <!-- Title for the Website -->
    <title>Tygo Wolven | Platform Buurtinitiatieven Amsterdam West</title>
  </head  >

<body>

  <!-- Navigation -->
  <nav class="primary-navigation flexLayout">
    <!-- Links -->
    <ul class="navigation flexLayout">
      <li>
          <a href="/#activity" class="capsLock" id="linkOne">
              <span class="extraBold">01</span> 
              Vraag en Aanbod
          </a>  
      </li>
      <li>
        <a href="/#submitactivity" class="capsLock" id="linkTwo">
            <span class="extraBold">02</span> 
            Initiatief Aanvragen
        </a>  
      </li>
      <li>
          <a href="/#contact" class="capsLock" id="linkThree">
              <span class="extraBold">03</span> 
              Contact
          </a>  
      </li>
    </ul>
  </nav>