<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Link to Javascript -->
    <script src="/scripts/script.js" defer></script>

    <!-- Link to Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to my Website Icon -->
    <link rel="icon" href="/images/">
    
    <!-- Title for the Website -->
    <title>Tygo Wolven | Platform Buurtinitiatieven Amsterdam West</title>
  </head>

<body>

  <!-- Navigation -->
  <nav class="primary-navigation">
    <!-- Links -->
    <ul class="navigation">
      <li>
        <a href="/" class="capsLock extraBold" id="linkOne">
            Home
        </a>  
      </li>
    </ul>
    <ul class="navigation">
      <li>
        <a href="/aanvraag" class="capsLock extraBold" id="linkFour">
            Initiatief Aanvragen
        </a>  
      </li>
      <li>
        <a href="/contact" class="capsLock extraBold" id="linkFive">
          Contact
        </a>  
    </li>
    <li>
      <a href="/faq" class="capsLock extraBold" id="linkSix">
          FAQ
      </a>  
    </li>    
  </ul>
  </nav>