<%- include('./partials/head', {current: '/aanvraag'}); %>

<main>

    <section id="submitform">

        <form method="post" action="/">
            <fieldset>
                <h2>Stap 1<br><span class="capsLock extraBold">Persoonlijke gegevens</span></h2>
                <label for="Voornaam">Voornaam:</label>
                <input type="text" id="Voornaam" placeholder="Je naam..." required>
    
                <label for="Achternaam">Achternaam:</label>
                <input type="text" id="Achternaam" placeholder="Je achternaam..." required>
    
                <label for="E-mailadres">E-mailadres:</label>
                <input type="text" id="E-mailadres" placeholder="Je e-mailadres ..." required>
            </fieldset>
    
            <fieldset>
                <h2>Stap 2<br><span class="capsLock extraBold">Soort initiatief</span></h2>

                <h3>Wat voor soort initiatief wilt u aanmaken?</h3>
                <label for="Vraag">
                    <input type="radio" id="Vraag" name="soortInitiatief" required>
                    Vraag
                </label>

                <label for="Aanbod">
                    <input type="radio" id="Aanbod" name="soortInitiatief" required>
                    Aanbod
                </label>
                
                <h3>Voor wanneer is het nodig?</h3>
                <input type="date">
            </fieldset>
        
            <fieldset>
                <h2>Stap 3<br><span class="capsLock extraBold">Initiatief omschrijving</span></h2>
                <label for="Titel">Titel:</label>
                <input type="text" id="Titel" required>
    
                <label for="Beschrijving">Beschrijving:</label>
                <input type="text" id="Beschrijving" required>
    
                <label for="Buurt">Buurt:</label>
                <select id="Buurt">
                    <option value="">Buurt West</option>
                    <option value="">Buurt Oost</option>
                    <option value="">Buurt Noord</option>
                </select>
    
                <label for="Afbeelding">Afbeelding:</label>
                <input type="file" id="Afbeelding">
            </fieldset>
        
            <fieldset>
                <h2>Stap 4<br><span class="capsLock extraBold">Categorieën</span></h2>

                <h3>Voeg passende categorieën toe aan je initiatief:</h3>
                <label for="Tech">Technologie
                    <input type="checkbox" id="Tech">
                </label>

                <label for="Kunst">Kunst en Cultuur
                    <input type="checkbox" id="Kunst">
                </label>

                <label for="Sport">Sport en Recreatie
                    <input type="checkbox" id="Sport">
                </label>

                <label for="Film">Film en Entertainment
                    <input type="checkbox" id="Film">
                </label>

                <label for="Dieren">Dieren en Natuur
                    <input type="checkbox" id="Dieren">
                </label>

                <label for="Huis">Huis en Tuin
                    <input type="checkbox" id="Huis">
                </label>

                <label for="Avontuur">Avontuur en Ontdekking
                    <input type="checkbox" id="Avontuur">
                </label>

                <h3>Geselecteerde categorieën:</h3>

                <label for="Controle">
                <input type="checkbox" id="Controle" required>
                    Ik heb minstens 1 categorie geselecteerd
                </label>
            </fieldset> 

            <fieldset>
                <h2>Stap 5<br><span class="capsLock extraBold">Initiatief overzicht</span></h2>

                <label for="Controle">
                <input type="checkbox" id="Controle" required>
                    Ik heb alles gecontroleerd en is correct
                </label>

                <button type="submit" class="extraBold">
                    Aanvraag indienen
                </button>
            </fieldset> 
        </form>

    </section>

</main>