<%- include('./partials/head', {current: '/about'}); %>

    <section id="about">
        <h1>Over het Plaform</h1>
        <p class="textArea">
            Dit platform is gericht naar het aanbieden of aanvragen van diverse buurtinitiatieven. In de meeste gevallen 
            is het moeilijk om de juiste persoon voor jouw klus te vinden, en daarom is dit platform ontwikkeld!
        </p>
    </section>

<%- include('./partials/foot') %>