<%- include('./partials/head', {current: '/contact'}); %>

  <!-- Contact Section -->
  <section id="contact">

    <!-- Title -->
    <h1 class="capsLock">Heb je vragen?</h1>

    <!-- Contact Info -->
    <!-- Container Left Side -->
    <div class="contact-wrapper">
      <div class="contact-container">
        <h3>Hotel de Hallen</h3>
        <ul>
          <li><a href="www.hoteldehallen.com">www.hoteldehallen.com</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@hoteldehallen.com">info@hoteldehallen.com</a></li>
          <li><a href="tel:0208208670">Tel. +31(0)20 8208670</a></li>
        </ul>
        <h3>De Hallen Studio's</h3>
        <ul>
          <li><a href="www.hallenstudios.nl">www.hallenstudios.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@dehallenstudios.nl">info@dehallenstudios.nl</a></li>
          <li><a href="tel:0208208206">Tel. +31(0)20 8208206</a></li>
        </ul>
        <h3>De FilmHallen</h3>
        <ul>
          <li><a href="www.filmhallen.nl">www.filmhallen.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@filmhallen.nl">info@filmhallen.nl</a></li>
          <li><a href="tel:850004544">Tel. +31 85 000 4544</a></li>
        </ul>
      </div>

      <!-- Container Right Side -->
      <div class="contact-container">
        <h3>De Foodhallen</h3>
        <ul>
          <li><a href="www.foodhallen.nl">www.foodhallen.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@foodhallen.nl">info@foodhallen.nl</a></li>
          <li>(geen Tel. beschikbaar)</li>
        </ul>
        <h3>The Maker Market</h3>
        <ul>
          <li><a href="www.themakerstore.nl">www.themakerstore.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hello@themakermarket.nl">hello@themakermarket.nl</a></li>
          <li><a href="tel:0202617667">Tel. +31(0)20 2617667</a></li>
        </ul>
        <h3>Beheerorganisatie</h3>
        <ul>
          <li><a href="www.dehallen-amsterdam.nl">www.dehallen-amsterdam.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@dehallen-amsterdam.nl">info@dehallen-amsterdam.nl</a></li>
          <li><a href="tel:0207058164">Tel. +31(0)20 7058164</a></li>
        </ul>
      </div>
    </div>    
  </section>

<%- include('./partials/foot') %>