<%- include('./partials/head', {current: '/faq'}); %>

    <section id="faq">
    
    <!-- Section Title -->
    <h1 class="capsLock">Veelgestelde vragen</h1>
    </section>

<%- include('./partials/foot') %>