<%- include('./partials/head', {current: '/faq'}); %>

    <section id="faq">
    
        <!-- Title -->
        <h1 class="capsLock">Veelgestelde vragen</h1>

        <!-- FAQ -->
        <div>
          <!-- First Question -->
          <details>
            <summary class="extraBold"><i class='bx bx-plus'></i> Wat zijn initiatieven?</summary>
            <p>
                Op dit platform bieden wij initiatieven aan. Initiatieven zijn een soort diensten die
                mensen voor je kunnen leveren, of die jij zelf aan mensen kan leveren. Iedereen kan een
                initiatief aanmaken om zo elkaar te kunnen helpen, betaald of vrijwillig. <br><br>

                Wil je zelf een initiatief aanmelden? Dat kan hier!
                <a href="/aanvraag">
                    <button class="extraBold">
                      Initiatief aanmelden
                    </button>
                </a>
            </p>
          </details>

          <!-- Second Question -->
          <details>
            <summary class="extraBold"><i class='bx bx-plus'></i> Is alles wat ik hier kan vinden veilig?</summary>
            <p>
                Alles wat wij aanbieden is 100% veilig. Iedereen die een initiatief wilt insturen moet
                eerst door een controle voordat deze op dit platform te zien zal zijn. Mochten er mensen
                bij je thuis komen, houd dan natuurlijk wel altijd rekening met eventuele waardevolle goederen.
            </p>
          </details>

          <!-- Third Question -->
          <details>
            <summary class="extraBold"><i class='bx bx-plus'></i> Zitten er kosten verbonden aan dit platform?</summary>
            <p>
                Nee! Dit platform is compleet gratis te gebruiken. Hoewel je voor de initiatieven 
                die jij wilt gebruiken mogelijk wel zal moeten betalen. Dit ligt natuurlijk aan wat 
                je nodig hebt, en wat de mensen aanbieden.
            </p>
          </details>
        </div>

    </section>

<%- include('./partials/foot') %>