/* === Fonts === */
@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

/* === Custom Properties === */
:root {
    /* === Colors === */
    --black: #151515;
    --hover: #74836E;

    --white: #EEEEEE;
    --lightgrey: #DBDBDB;
    --grey: #BDBDBD;

    /* === Padding & Margin === */
    --padding: 8px 16px;

    /* === Borders === */
    --round: 500px;

    /* === Transitions === */
    --tran1: 0.5s ease;
}

/* === General Classes === */
.extraBold {
    font-weight: 900;
}

.capsLock {
    text-transform: uppercase;
}

.textArea {
    max-width: 47ch;
}

.backBtn {
    position: absolute;
    top: 25px;
    left: 25px;
}

/* === General Element Styling === */
i {
    font-size: 2em;
}

/* === General Page Styling === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);

    font-family: Roboto;
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* === Navigation === */
.primary-navigation {
    display: flex;
    position: fixed;

    left: 0;
    right: 0;
    z-index: 100;
    background: var(--lightgrey);
    justify-content: space-between;
}

.navigation {
    display: flex;

    & li {
        margin: 0 0.5em;
        padding: 1.5em;

        & a {
            padding: 1em;
        }
    }
}

/* === All Page Sections === */
section {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
}

/* === Home Section === */
#home {
    background: url(/images/dehallenedit.png);

    & h1 {
        font-size: 2.5em;
        margin-bottom: 0.25em;
        z-index: 200;
        position: absolute;
        left: 10%;
    }
}

#homecover {
    z-index: -100;
}

.homeBackdrop {
    position: absolute;
    width: 100%;
    height: 200%;
    left: -45%;
    transform: rotate(-15deg);
    background: var(--lightgrey);
}

.shapeDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shapeDivider .shape-fill {
    fill: #EEEEEE;
}

.custom-shape-divider-top-1711994287 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711994287 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1711994287 .shape-fill {
    fill: #EEEEEE;
}

.scrollIcons {
    position: absolute;
    bottom: 25px;
    z-index: 100;

    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & p {
        margin-bottom: 0.5em;
    }

    & i:first-of-type {
        animation: mouseHop 1s infinite;
    }

    & i:last-of-type {
        position: relative;
        bottom: 10px;
        animation: chevronHop 1s infinite;
    }
}

@keyframes mouseHop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes chevronHop {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

/* === Services Section === */
#services {
    display: flex;
    flex-direction: row;
    background: var(--white);
}

#services > div:first-child {
    width: 30%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--white);
    
    & p {
        max-width: 37ch;
        margin: 0.5em 0;
    }
}

.inputcontainer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    
    & label {
        width: 50%;
        padding: 3em;
        text-align: center;
        cursor: pointer;  
        background: var(--grey);
    }

    & input {
        display: none;
    }
}

.activityItem {
    margin: 1em;
    text-align: center;

    max-width: 23em;
    background: var(--lightgrey);

    display: grid;
    grid-template-rows: 4fr 3fr 1fr;

    & img {
        width: 21em;
        height: 15em;
        margin: 1em;
        object-fit: cover;
    }
    
    & .description {
        margin: 1em;

        & p {
            margin: 0.5em 0;
        }
    }

    & button {
        background: none;
        border: none;
    }
}

#services > div:last-child {
    width: 70%;
}

#listVraag,
#listAanbod {
    display: none;
    overflow: scroll;
}
#listError {
    text-align: center;
}

/* === Service Detail Section === */
#detail {
    & img {
        width: 20em;
    }
}

/* === Submit Service Section === */
#submitservice {
    background: linear-gradient(
        to right,
        var(--white) 95%,
        var(--lightgrey) 95%
    );
    background-size: 50px;

    & p {
        margin: 0.5em 0;
    }
}

#submitContent {
    padding: 3em;
    background: var(--lightgrey);

    & button {
        background: var(--grey);
        border: none;
        padding: 1em;
    }
}

/* === Submit Form Section === */
#submitform {
    min-height: 100vh;
    height: fit-content;
}

form {
    padding: 5em 0;

    & fieldset {
        border: none;

        display: flex;
        flex-direction: column;

        & input, select {
            margin: 0.25em 0 1em 0;
        }
    }

    & fieldset + fieldset {
        display: none;
    }

    & fieldset:valid + fieldset {
        display: flex;
    }
}

/* === Contact Section === */
.contact-wrapper {
    display: flex;
}

.contact-container {
    margin: 2em;

    & ul {
        margin: 0.25em 0 2em 0;
    }
}

/* === Footer === */
footer { 
    position: relative;
    z-index: 100;

    background: var(--lightgrey);

    & > div {
        padding: 4em;
        text-align: center;
    }

    & h3 {
        margin-bottom: 0.25em;
    }
}

/* === All Hover-States === */
a:hover,
i:hover {
    color: var(--hover);
}

.inputcontainer label:hover {
    background: rgba(189, 189, 189, 0.5);
}

/* === All Transitions === */
a, 
i {
    transition: var(--tran1);
}

/* === Media Query === */
@media (min-width: 1000px) {
    /* === Footer === */
    footer {
        display: flex;
        justify-content: center;

        & > div {
            text-align: left;
        }
    }
}