/* === Fonts === */
@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

/* === Custom Properties === */
:root {
    /* === Colors === */
    --black: #151515;
    --green: rgb(110, 110, 85);
    --red: rgb(140, 100, 70);

    --white: #EEEEEE;
    --lightgrey: #DBDBDB;
    --grey: #BDBDBD;

    /* === Padding & Margin === */
    --padding: 8px 16px;

    /* === Borders === */
    --round: 500px;

    /* === Transitions === */
    --tran1: 0.25s ease;
    --tran2: 0.5s ease;
}

/* === General Classes === */
.extraBold {
    font-weight: 900;
}

.capsLock {
    text-transform: uppercase;
}

.textArea {
    max-width: 47ch;
}

.backBtn {
    position: absolute;
    top: 25px;
    left: 25px;
}

/* === General Element Styling === */
i {
    font-size: 2em;
}

/* === General Page Styling === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);

    font-family: Roboto;
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* === Navigation === */
.primary-navigation {
    display: flex;
    position: fixed;

    left: 0;
    right: 0;
    z-index: 200;
    background: var(--lightgrey);
    justify-content: space-between;
}

.navigation {
    display: flex;

    & li {
        margin: 0 0.5em;
        padding: 1.5em;

        & a {
            padding: 1em;
        }
    }
}

/* === Main Content === */

/* === All Page Sections === */
section {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
}

/* === Home Section === */
#home {
    background: url(/images/dehallen.png);
    background-position: -50%;

    & h1 {
        font-size: 3em;
        margin-bottom: 0.25em;
    }

    & p {
        max-width: 80ch;
    }
}

.titleWrapper {
    position: absolute;
    z-index: 150;
    left: 8%;
}

#homecover {
    z-index: -100;
}

.homeBackdrop {
    position: absolute;
    width: 100%;
    height: 200%;
    left: -45%;
    transform: rotate(-15deg);
    background: var(--lightgrey);
}

.shapeDividerBottom,
.shapeDividerTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shapeDividerBottom {
    bottom: 0;
    transform: rotate(180deg);
}

.shapeDividerBottom svg,
.shapeDividerTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shapeDividerBottom .shape-fill,
.shapeDividerTop .shape-fill {
    fill: var(--white);
}

.scrollIcons {
    position: absolute;
    bottom: 25px;
    z-index: 100;

    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & p {
        margin-bottom: 0.5em;
    }

    & i:first-of-type {
        animation: mouseHop 1s infinite;
    }

    & i:last-of-type {
        position: relative;
        bottom: 10px;
        animation: chevronHop 1s infinite;
    }
}

@keyframes mouseHop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes chevronHop {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

/* === Services Section === */
#services {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    background: var(--white);
}

#services > div:first-child {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
    & p {
        max-width: 37ch;
        margin: 0.5em 0;
    }
}

.inputcontainer {
    position: absolute;
    display: flex;
    width: 100%;
    
    & label {
        padding: 1em 3em;
        text-align: center;
        cursor: pointer;  
        background: var(--grey);
    }

    & input {
        display: none;
    }
}

.activityItem {
    margin: 1em;
    text-align: center;

    max-width: 23em;
    background: var(--lightgrey);
    transition: var(--tran1);

    display: grid;
    grid-template-rows: 4fr 3fr 1fr;

    & img {
        width: 21em;
        height: 15em;
        margin: 1em;
        object-fit: cover;
    }
    
    & .description {
        margin: 1em;

        & p {
            margin: 0.5em 0;
        }
    }

    & button {
        background: none;
        border: none;
    }
}

#listVraag,
#listAanbod {
    display: none;
    overflow: scroll;
    width: 100%;
}
#listError {
    text-align: center;
}

/* === Service Detail Section === */
#detail {
    & img {
        width: 20em;
    }
}

/* === Submit Service Section === */
#submitservice {
    background: var(--lightgrey);
    height: 80vh;

    & p {
        margin: 0.5em 0;
        max-width: 50ch;
    }
}

#submitContent {
    padding: 3em;
    background: var(--lightgrey);

    & button {
        position: relative;
        background: var(--green);
        border: none;
        padding: 1em;
        width: 100%;
        margin-top: 1em;
        overflow: hidden;

        & a {
            color: var(--white);
            position: relative;
            z-index: 50;
        }
    }

    & button::before {
        position: absolute;
        content: "";
        top: 0;
        right: 90%;
        width: 110%;
        height: 100%;
        background: var(--red);
        transform: skew(15deg);
        transition: var(--tran2);
        z-index: 5;
    }
}

/* === Submit Form Section === */
#submitform {
    min-height: 100vh;
    height: fit-content;
}

form {
    padding: 5em 0;

    & fieldset {
        border: none;

        display: flex;
        flex-direction: column;

        & input, select {
            margin: 0.25em 0 1em 0;
        }
    }

    & fieldset + fieldset {
        display: none;
    }

    & fieldset:valid + fieldset {
        display: flex;
    }
}

/* === Contact Section === */
.contact-wrapper {
    display: flex;
}

.contact-container {
    margin: 2em;

    & ul {
        margin: 0.25em 0 2em 0;
    }
}

/* === Footer === */
footer { 
    position: relative;
    z-index: 100;

    background: var(--white);

    & > div {
        padding: 4em;
        text-align: center;
    }

    & h3 {
        margin-bottom: 0.25em;
    }
}

/* === All Hover-States === */
a:hover,
i:hover {
    color: var(--green);
}

.inputcontainer label:hover {
    background: rgba(189, 189, 189, 0.5);
}

.activityItem:hover {
    scale: 1.05;
}

#submitContent button:hover::before {
    right: 10%;
}

/* === All Transitions === */
a, 
i {
    transition: var(--tran1);
}

/* === Media Query === */
@media (min-width: 1000px) {
    /* === Footer === */
    footer {
        display: flex;
        justify-content: center;

        & > div {
            text-align: left;
        }
    }
}